@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  --onedark-bg: #282c34;
  --onelight-bg: #fafafa;
}

pre {
  @apply rounded shadow;
}

@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
