---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const recentPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()
);
---

<Layout
  title="Blog - Matthias Weiß"
  description="Read my thoughts on software engineering, web development, and whatever else comes to my mind.">
  <section>
    <ul>
      {
        recentPosts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>
              <h3 class="">{post.data.title}</h3>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
