---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import PortraitImage from "../assets/portrait.jpg";
---

<Layout
  title="Matthias Weiß"
  description="Full stack developer from Vienna, Austria."
>
  <h1>Hello</h1>

  <Image
    src={PortraitImage}
    alt="Portrait of Matthias Weiß"
    class="size-32 rounded-full shadow-md md:size-48"
  />
</Layout>
