---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import PortraitImage from "../assets/portrait.jpg";
---

<Layout
  title="Matthias Weiß"
  description="Full stack developer from Vienna, Austria."
>
  <section class="space-y-8">
    <h1 class="text-2xl">Hi, I'm Matthias 👋</h1>

    <p class="prose dark:prose-invert">
      I'm a full stack developer from Vienna, Austria. I especially like the
      full stack aspect, since I really enjoy building applications across the
      entire stack. Whether it's frontend, backend, or infrastructure, I enjoy
      all of it. I've worked with various programming languages and frameworks
      over the years, but the one I always come back to is Laravel. Even though
      I'd prefer to work in a more type-safe language, I haven't found any
      stacks where I'm remotely as productive as I am in Laravel. I listed some
      of my recent projects <a href="/projects">here</a>.
    </p>

    <Image
      src={PortraitImage}
      alt="Portrait of Matthias Weiß"
      class="size-32 rounded-full shadow-md md:size-48"
    />
  </section>
</Layout>
