---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ScreenshotSimplechore from "../assets/screenshot-simplechore.png";
import ScreenshotPumpUpNotOut from "../assets/screenshot-pumpupnotout.png";
---

<Layout title="Projects" description="Description">
  <section class="space-y-8">
    <h1 class="text-2xl">Work</h1>

    <p class="prose dark:prose-invert">
      I'm currently working as a full stack developer at <a
        href="https://www.viable.at/"
        target="_blank">viable</a
      >. I get to work with various technologies and frameworks simultaneously,
      which I really enjoy. Lately, there's been a lot of React, Angular, Spring
      Boot, and AWS.
      <br />
      Before I joined viable in 2023, I was a frontend developer at
      <a href="https://asqs.net/" target="_blank">ASQS</a>, where I
      predominantly used Angular. On some, very rare, occasions, I also got to
      work with Laravel.
      <br />
      I've also been trying to work on personal projects more over the last few years.
      Some of my favorite ones are listed below. ⬇️
    </p>

    <p class="prose dark:prose-invert">
      <a href="https://simplechore.xyz/" target="_blank">SimpleChore</a> is an app
      that makes it easy to schedule your meals for the week. 🍝
      <br />
      Add your favorite recipes and schedule meals for the upcoming days or weeks.
      Invite your loved ones to your household so everyone has access to the schedule,
      and share your favorite recipes with each other. Additionally, you can automatically
      create customizable shopping lists based on the planned meals and required
      portion sizes.
      <br />
      The stack I used to implement SimpleChore is Laravel and React, connected through
      Inertia. The frontend heavily uses Tailwind and shadcn/ui.
    </p>

    <Image
      src={ScreenshotSimplechore}
      alt="Screenshot from SimpleChore, an app that aids in scheduling meals and shopping for groceries."
    />

    <p class="prose dark:prose-invert">
      <a href="https://pumpupnotout.com/" target="_blank">Pump Up Not Out</a> is
      an app and browser extension that helps people quit porn in favor of working
      out. 💪
      <br />
      It works by redirecting you to the app whenever you try to visit a website
      with pornographic content. Once redirected, the app motivates you to do a quick
      set of pushups, pullups or squats. The tech stack is identical to SimpleChore:
      Laravel, React, Inertia, Tailwind, shadcn/ui.
    </p>

    <Image
      src={ScreenshotPumpUpNotOut}
      alt="Screenshot from Pump Up Not Out, an app that helps people quit porn and work out instead"
    />

    <div class="prose space-y-2 dark:prose-invert">
      <p>
        I've also had the chance to contribute to a few open source projects,
        which I think is a very cool experience. I'd certainly like to do it
        more often, but I try to limit contributions to issues I run into,
        rather than contributing for the sake of it. My two most rememorable
        contributions are the following:
      </p>

      <ul>
        <li>
          Adding a{" "}<a href="https://github.com/angular/angular/pull/47157"
            >configuration option to change the default date format of the
            Angular DatePipe</a
          >. This way my first approved to PR to a well-known repository, and I
          even got featured on the <a
            href="https://blog.angular.dev/angular-v15-is-now-available-df7be7f2f4c8"
            target="_blank">Angular blog</a
          >.
        </li>
        <li>
          Fixing the <a
            href="https://github.com/laravel/breeze/pull/348"
            target="_blank"
            >default value of a <span class="font-mono">useRef</span> call</a
          > in the Laravel Breeze starter kit, which was my first ever PR in the
          Laravel ecosystem.
        </li>
      </ul>
    </div>
  </section>
</Layout>
