---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects" description="Description">
  <section class="space-y-8">
    <h1 class="text-2xl">Projects</h1>

    <p>SimpleChore</p>
    <p>Pump Up Not Out</p>

    <p>Open source</p>
  </section>
</Layout>
